---
import Header from '@components/default/Header.astro';
import Footer from '@components/default/Footer.astro';
import Meta from '@components/default/Meta.astro';
---
<!doctype html>
<html lang="en">
  <head>
    <Meta title="Nate's Side" />
  </head>
  <body>
    <Header title="Nate's Side" />
    <main class="min-h-screen">
      <slot/>
    </main>
    <Footer />
  </body>
</html>

