---
import type { Post } from '@/types'
import ForumImageCard from '@components/ForumImageCard.astro'
import DefaultLayout from '@layouts/Root.astro'
interface Props {
    details: Post
}
const { details } = Astro.props
---

<DefaultLayout>
    <div class="max-w-7xl min-h-96 text-nat-white-c01 bg-neutral-800 mx-auto">
        <div class="text-lg pt-6 pl-10 mx-auto">
            <span class="text-[#a47996] font-bold">{details.author}</span>
            <span class="">{' '}-{' '}</span>
            <span class="">{details.title} - {details.dateObj.toLocaleString()}</span>
            <br />
        </div>
        <div class="float-left flex flex-wrap px-10 pb-2 gap-x-2">
            {details.globbedImgs.map((g) => <ForumImageCard img={g} />)}
        </div>
        <div class="p-10 text-xl">
            <slot />
        </div>
    </div>
</DefaultLayout>
