---
import Meta from '@components/default/Meta.astro'
import Header from '@components/default/Header.astro'
import Footer from '@components/default/Footer.astro'
import type { BlogDetails } from '@/types'
interface Props {
    details: BlogDetails
}
const { details } = Astro.props
---

<Meta title={details.title} description={details.description} image={details.image} />
<Header />
<h1>{details.author}</h1>

<main>
    <slot />
</main>

<Footer />
