---
import Latex from "@components/Latex.astro";
import { readRelative } from "@utils/fileReader";

export const details = {
  title: "asdf",
  desc: "fdsa",
}

const a = readRelative(import.meta.url, "asdf.txt")

---

<style is:global>
  .latex-default {
    background-color: cyan; 
  }
</style>

<style>
  p {
    background-color: red;
  }
</style>

<p>fdsa</p>
<Latex formula={a} />
