@import "tailwindcss" source("../..");

@theme {
        --font-display: "Termius", "sans-serif";

        --color-nat-white-c01: "#b3b8c3";
        --color-nat-black-c01: "#0c090a";
        --color-nat-pink-c01: "#440e38";
        --color-nat-green-c01: "#0a241e";
        
}

@font-face {
  font-family: Terminus;
  src: url(/fonts/Terminus/TerminusTTF.ttf);
}

