---
import { globBlogs } from "@utils/glob";

import CatalogPostCard from "@components/CatalogPostCard.astro";
const recents = await globBlogs(50, "natalie", true);
---

<head>
  <style>
    b {
      font-weight: bold;
      color: #eeeeee;
    }
    body {
      background-image: url("/images/cyber.jpg");
      background-attachment: fixed;
    }

    .floaty {
      margin-left: 10%;
      margin-right: 10%;
      background-color: #171717;
      color: #b3b8c3;
      border-style: ridge;
      border: solid 2px #1e1e1e;
      padding: 10px;
      box-shadow: 0px 0px 55px 12px rgb(32, 0, 48);
    }

    input:checked + div {
      display: none;
    }
    .fixed {
      padding: 4px;
      position: fixed;
      bottom: 0px;
      right: 0px;
    }
  </style>
</head>
<body>
  <div id="top" class="floaty">
    <div>
      <pre>
                                                            _______         .--.    
      __                                         __       _ \______ -      |o_o |
     / /_   __      __                          / /      | \  ___  \ |     |:_/ |
    / // | / /___ _/ /_____  ____  ____  ___   / /       | | /   \ | |    //   \ \
   / //  |/ / __ `/ __/_  / / __ \/ __ \/ _ \ / /        | | \___/ | |   (|     | )
  / // /|  / /_/ / /_  / /_/ /_/ / / / /  __// /         | \______ \_|  /'|_   _/'\
 /_//_/ |_/\__,_/\__/ /___/\____/_/ /_/\___//_/           -_______\     \___)=(___/
            </pre>
    </div>
    <b>
      <a
        class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
        href="/"
      >
        /Home/
      </a>
      <a
        class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
        href="../natalie"
      >
        /Natzone/
      </a>

      <a
        class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
        href="../../nathan"
      >
        /Natecorner/
      </a>
      <a
        class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
        href="https://github.com/nathan-hello"
      >
        /gh/
      </a>
      <a
        class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
        href="../natalie/links"
      >
        /links/
      </a>
      <a
        class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
        href="../natalie/webring"
      >
        /webring/<a>
          <a
            class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
            href="../natalie/tv"
          >
            /tv/
          </a>
        </a>
        <hr />
        <a
          class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
          href="#bottom"
        >
          [Bottom]
        </a>
        <pre>
      _________________________________________________
     | Under construction, thank you for your patience |
      -------------------------------------------------
           /
    (\ /) /
    ( . .)
   c(")(")        
        </pre>
        <div class="flex flex-col">
          <div class="flex flex-row">
            <!-- {
                    recents.map((a) => {
                        return (
                            <CatalogPostCard details={a.props.c}>
                                <a.props.c.Component />
                            </CatalogPostCard>
                        )
                    })
                } -->
          </div>
        </div>
        <hr />
        <a
          class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
          href="../natalie"
        >
          [Index]
        </a>
        <a
          id="bottom"
          class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
          href="#top"
        >
          [Top]
        </a>
      </a>
    </b>
  </div>
</body>
