---
import type { BlogDetails, BlogAstro } from '@/types'
import {
    shapeForRendering,
    extractMetadata,
    parseAuthorName,
} from '@/utils/parseMetadata'

import Layout from '@layouts/Root.astro'

const blogs = await Astro.glob<BlogAstro>('/src/blog/**/b_*.astro').then((b) =>
    b
        .filter((b) => b.details.hidden !== true)
        .filter((b) => parseAuthorName(b.details.author, b.file) === 'natalie')
        .map((b, i) => shapeForRendering(extractMetadata(b), i))
)

const mdxs = await Astro.glob<BlogDetails>('/src/blog/**/b_*.mdx').then((b) =>
    b
        .filter((b) => b.frontmatter.hidden !== true)
        .filter((b) => parseAuthorName(b.frontmatter.author, b.file) === 'natalie')
        .map((b, i) => shapeForRendering(extractMetadata(b), i))
)

const recents = [...blogs, ...mdxs]
    .sort(
        (a, b) =>
            new Date(b.props.details.date).getTime() -
            new Date(a.props.details.date).getTime()
    )
    .slice(0, 10)
---
<head>
<style>
body {
background-image: url('cyber.jpg');
background-attachment: fixed;
}

.floaty {
margin-left: 10%;
margin-right: 10%;
background: rgb(37, 20, 61);
background-color: #0c090a;
color: #b3b8c3;
border-style: ridge;
border: solid 2px #1e1e1e;
padding: 10px;
box-shadow: 0px 0px 55px 12px rgb(32, 0, 48);
}

</style>
</head>
<body>
<div class="floaty">
        <h1>
            Natzone
        </h1>
        <hr>
        <br>
            "Hey hi, welcome you goobers, this is my little hang out spot (watchout for Nate he likes to invade, but he is just a silly). Aaaanyway, I'm nat, nice to meetcha, and here you can find the paticular tidbits that are currently interesting me, get ready for maths and computer stuff cause that's pretty much all I do [I joke, but sometimes its a little :))]" - nat 11/01/24 - 01:24+0000
            OH FUCK IT'S LATE, OK I'LL FINISH THIS LATER

        {
        blogs.map((b) => {
            return <blogs details={b.props.details} />
            })
        }
</div>
