---
import { globBlogs } from '@utils/glob'

import BlogImageBoard from '@components/BlogImageBoard.astro'
const recents = await globBlogs(10, 'natalie', true)
---

<head>
    <style>
        body {
            background-image: url('images/cyber.jpg');
            background-attachment: fixed;
        }

        .floaty {
            margin-left: 10%;
            margin-right: 10%;
            background: rgb(37, 20, 61);
            background-color: #0c090a;
            color: #b3b8c3;
            border-style: ridge;
            border: solid 2px #1e1e1e;
            padding: 10px;
            box-shadow: 0px 0px 55px 12px rgb(32, 0, 48);
        }

        input:checked + div {
            display: none;
        }
    </style>
</head>
<body>
    <div class="floaty">
        <h1>Natzone</h1>
        <hr />
        <br />
        "Hey hi, welcome you goobers, this is my little hang out spot (watchout for Nate he
        likes to invade, but he is just a silly). Aaaanyway, I'm nat, nice to meetcha, and
        here you can find the paticular tidbits that are currently interesting me, get ready
        for maths and computer stuff cause that's pretty much all I do [I joke, but sometimes
        its a little :))]" - nat 11/01/24 - 01:24+0000 OH FUCK IT'S LATE, OK I'LL FINISH THIS
        LATER\ Hey there is audio that you can play, click
        <a class="links" href="#audio"> here.</a>
        <br />
        <div class="py-2 gap-y-2">
            {
                recents.map((a) => {
                    return (
                        <BlogImageBoard details={a.props.c}>
                            <a.props.c.Component />
                        </BlogImageBoard>
                    )
                })
            }
        </div>
        <br />
        <label for="cb"> Click me for to hide audio.</label>
        <input type="checkbox" style="display: none" id="cb" />
        <div id="audio">
            <audio loop controls src="catnap.mp3"></audio>
        </div>
    </div>
</body>
