---
import Meta from "@components/Meta.astro";
import PageHeader from "@components/PageHeader.astro";
import NatalieBigPage from "@layouts/natalie/BigPage.astro";
---

<NatalieBigPage>
  <Meta title="Natalie's Links" slot="meta" />
  <PageHeader slot="header">
    <b>
      <pre>
      __                        __
     / / ___       __          / /
    / / / (_)___  / /_______  / / 
   / / / / / __ \/ //_/ ___/ / /  
  / / / / / / / / , (__  )  / /   
 /_/ /_/_/_/ /_/_/|_/____/ /_/      
            </pre>
    </b>
  </PageHeader>

  <hr />
  <a
    class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
    href="#bottom"
  >
    [Bottom]
  </a>
  <pre>
      _________________________________________________
     | Under construction, thank you for your patience |
      -------------------------------------------------
           /
    (\ /) /
    ( . .)
   c(")(")        
        </pre>
  <hr />
  <a
    id="bottom"
    class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
    href="#top"
  >
    [Top]
  </a>
</NatalieBigPage>
