---
import Meta from "@components/Meta.astro";
import PageHeader from "@components/PageHeader.astro";
import NatalieBigPage from "@layouts/natalie/BigPage.astro";
---
<head>
  <style>
    table > tbody > tr > td:first-child {
      background-color: #282a2e;
      color: #c5c8c6;
      font-weight: 700;
      border: 1px solid #111;
      padding: 5px;
    }
  </style>
</head>

<NatalieBigPage>
  <Meta title="Natalie's Links" description="Under construction!" slot="meta" />
  <PageHeader slot="header">
    <b>
      <pre>
      __                        __
     / / ___       __          / /
    / / / (_)___  / /_______  / / 
   / / / / / __ \/ //_/ ___/ / /  
  / / / / / / / / , (__  )  / /   
 /_/ /_/_/_/ /_/_/|_/____/ /_/      
            </pre>
    </b>
  </PageHeader>

  <hr />
  <a
    class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
    href="#bottom"
  >
    [Bottom]
  </a>
  <pre>
      _________________________________________________
     | Under construction, thank you for your patience |
      -------------------------------------------------
           /
    (\ /) /
    ( . .)
   c(")(")        
        </pre>
  <h3>Friends</h3>
  <h3>People</h3>
<table>
  <tbody>
    <tr>
      <td><a href="https://www.theos.com/deraadt/">theos.com</a></td>
      <td>
        The creator of openbsd, it's a very minimal site, but an homage to an important person.  
      </td>
    </tr>
    <tr>
      <td><a href="https://koshka.love/>Koshka</a></td>
      <td>
        A great resource for autism and old net related things. Otherwise, it is very aestheitcally pleasing if you have a paticular kind of late y2k in you.
      </td>
    </tr>
    <tr>
      <td><a href="https://arachnoid.com/index.html">Arachnoid</a></td>
      <td>
        The autists playground, a bunch of great articles, demonstrations, papers on maths, physics, computers, programming and psychology, would highly recommend. Especially the care the creator goes into making things easy to understand and interactable for the user.
      </td>
     </tr>
  </tbody>
</table>
  <h3>Miscellaneous</h3>
  <table>
  <tbody>
  <tr>
    <td><a href="https://suptg.thisisnotatrueending.com/archive.html">suptg</a></td>
    <td>
      An archive of /tg/ thread stretching back almost to the inception of the board, with community (but still anonymous scoring. There are some very good reads here, the write faggotry and skeleton computer threads are highly recommended by me.
    </td>
  </tr>
  <tr>
    <td><a href="http://tanasinn.info/wiki/Stalking_Haruhi_Suzumiya">Haruhi</a></td>
    <td>
      A page cataloguing the different real life places that were used during the creation of Haruhi Suzumiya. A lot of show do this especially when short staffed but it makes for some really nice urban exploration.
  </td>
  </tr>
  <tr>
    <td><a href="https://711chan.net/lulz">711chan</a></td>
    <td>
      An alt chan without much activity but I found this page in paticular humerous.
    </td>
  </tr>
  <tr>
    <td><a href="https://docs.google.com/spreadsheets/d/1sEH1uSu6RK-07qQzO7R9GJYqk8OI8cpa7g4sz-xf5I0/edit?pli=1#gid=0">Gachi Sheet</a></td>
    <td>
      A catalogue of the sources of different sounds from gay pornos used in gachi videos, if you ever wanted sauce, you now have no excuse :3.
    </td>
  </tr>
  <tr>
    <td><a href="https://github.com/tie/oneko">neko</a></td>
    <td>
      A git repo with the titular neko, implemented in C++ for linux. I really aught to do a blog post on the history of this program, It has quite the legacy. And I use on startup in my .xinitrc.
    </td>
  </tr>
  <tr>
    <td><a href="https://www.falstad.com/circuit/">Circuits</a></td>
    <td>
    A tool for exploring circuitry with real time simulations.
    </td>
  </tr>
  <tr>
    <td><a href="http://pestnet.io/whitepaper.html">Pest</a></td>
    <td>
      Honestly great superset of the irc protocol to create a truly distributed system, It is and probably will remnain to be extremely niche. And requires quite a bit of technical knowladge to set up, but hey, maybe I just got filtered lol
    </td>
  </tr>
  <tr>
    <td><a href="https://sdf.org/">sdf</a></td>
    <td>
      SDF is a unix bbs that hhas existed since the 90's and still has a strong community. If there was a sight to explore most of the workings of the old internet this would be the gateway.
    </td>
  </tr>
  <tr>
    <td><a href="http://www.havenandhearth.com/portal/">Haven hearth</a></td>
    <td>
      An mmo that I haven't been able to play much but runs off of java so you should have no issue with trying it out no matter what platfor you're running.
    </td>
  </tr>
  <tr>
    <td><a href="https://www.cameronsworld.net/">gifs</a></td>
    <td>
      Camerons world, It's just a collection of gifs from geocities sites, but if you're looking for any to use on your site or just to keep, it's cool. It doesn't have as many as some others but it's nicely laid out and is somewhat cohesive.
    </td>
  </tr>
  <tr>
    <td><a href="lambdaplusjs35padjaiz4jw2fugdoeutse262phqr72uf634s2wdbqd.onion">lambda</a></td>
    <td>
    Good darknet site, if you like maths and image boards and realised /sci/ is just a /pol/ tourist board this will be up your alley,
    </td>
  </tr>
  <tr>
    <td><a href="https://gparted.org/">gparted</a></td>
    <td>Probably the best real time satellite tracking site on the web, if you're a satcom ham enjoyer this is necerssary, but if you are then you probably already know about it lol. I personally know very little but I have received a signal from NOAA19 with a bunny dipole before following some instructions by <a href="https://www.youtube.com/channel/UCNLRcEn78Vc62C3GkMvBgtA/join">saveitforparts</a>.
    </td>
  </tr>
  <tr>
    <td><a href="https://kaomoji.ru/en/">kaomoji</a></td>
    <td>
      Kaomoji, is a type of emoticon specifically made with ascii or utf-8, very commonly used on bbs's an other text only protocols to depict images, and it has very creative utilisation of the charater set. If you wish to use it instead of normal emojis or for inspiration to create your own it has stuff for many emotions. (not to be confused with ascii art)
    </td>
  </tr>
</tbody>
</table>
  <hr />
  <a
    id="bottom"
    class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
    href="#top"
  >
    [Top]
  </a>
</NatalieBigPage>
