---
import type { Post } from '@/types'
import { globBlogs } from '@utils/glob'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths: GetStaticPaths = async () => {
    return await globBlogs(undefined, undefined)
}

const { post } = Astro.params
const { props } = Astro.props as Awaited<ReturnType<typeof globBlogs>>[number]
---

<div>{JSON.stringify(props.c.author)}</div>
