---
import PageHeader from "@components/PageHeader.astro";
---

<div class="bg-black w-min mx-auto">
  <PageHeader>
    <pre>
 _   _       _       __   
| \ | |     | |     / /   
|  \| | __ _| |_   / /__  
| . ` |/ _` | __| / / _ \ 
| |\  | (_| | |_ / /  __/ 
|_| \_|\__,_|\__/_/ \___| "We are Boingus"
  </pre>
  </PageHeader>
</div>
<br />
