---
import PageHeader from "@components/PageHeader.astro";
---

<div
  class="bg-[#171717] text-[#bcb8c3] border-2 border-[#1e1e1e] p-3 shadow-lg ml-[10%] mr-[10%]"
>
  <PageHeader>
    <b>
      <pre>
 _   _       _       __   
| \ | |     | |     / /   
|  \| | __ _| |_   / /__  
| . ` |/ _` | __| / / _ \ 
| |\  | (_| | |_ / /  __/ 
|_| \_|\__,_|\__/_/ \___| "We are Boingus"
  </pre>
    </b>
  </PageHeader>
</div>
