---
import Meta from '@components/default/Meta.astro'
import Header from '@components/default/Header.astro'
import Footer from '@components/default/Footer.astro'

interface Props {
    title: string
    description?: string
    author: string
    image?: string
}

const {
    title,
    author,
    description = "Natalie's blog",
    image = '/blog-placeholder-1.jpg',
} = Astro.props
---

<Meta title={title} description={description} image={image} />

<Header />

<h1>{author}</h1>

<main class="min-h-screen">
    <slot />
</main>

<Footer />
