---
---

<footer class="">
    <div class="mx-auto w-full max-w-screen-xl">
        <div class="grid grid-cols-2 ">
            <div class="border-r-2 border-r-black  pl-3 bg-sky-900">
                <h2 class="my-2 text-sm font-semibold uppercase text-gray-300 ">
                    Nathan
                </h2>
                <ul class="font-medium gap-x-8 list-disc ml-8 text-white flex flex-wrap min-w-0 ">
                    <li>
                        <a href="#" class="hover:underline">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Projects</a>
                    </li>
                </ul>
            </div>
            <div class="pl-3 bg-pink-800">
                <h2 class="my-2 text-sm font-semibold uppercase text-gray-300">
                    Natalie
                </h2>
                <ul class="font-medium gap-x-8 list-disc ml-8 text-white flex flex-wrap ">
                    <li>
                        <a href="#" class="hover:underline">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
