---
import Meta from "@components/Meta.astro";
const { bgImg = "/images/carpark.png" } = Astro.props;
---

<html lang="en">
  <img
    class="fixed top-0 left-0 w-full h-full z-[-1] bg-no-repeat bg-cover"
    style={`background-image: url(${bgImg});`}
    role="presentation"
  />

  <head>
    <slot name="meta" />
  </head>
  <body>
    <slot name="header" />
    <br />
    <slot />
  </body>


</html>
