---
import Meta from '@components/Meta.astro'
const { bgImg = "bg-[url('/images/carpark.png')]" } = Astro.props
---

<html class=`bg-no-repeat bg-cover bg-fixed bg-center bg-[#1e1e1e] ${bgImg}` lang="en">
    <head>
        <title>Nat/e</title>
        <Meta
            title="Nat/e"
            description="Nathan & Natalie really cool blog site :)"
            image={bgImg}
        />
    </head>
    <body>
        <div class="mx-auto w-min bg-nat-black-c01 text-nat-white-c01 px-3 mb-2">
            <pre>
 _   _       _       __   
| \ | |     | |     / /   
|  \| | __ _| |_   / /__  
| . ` |/ _` | __| / / _ \ 
| |\  | (_| | |_ / /  __/ 
|_| \_|\__,_|\__/_/ \___| "We are Boingus"
            </pre>
            <b>
                <a
                    class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
                    href="/natalie"
                >
                    /Natzone/</a
                >
                <a
                    class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
                    href="/nathan"
                >
                    /Natecorner/</a
                >
                <a
                    class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01"
                    href="https://github.com/nathan-hello"
                >
                    /gh/</a
                >
            </b>
        </div>
        <slot />
    </body>
</html>
