---
import type { BlogDetails } from '@/types'
import Latex from '@components/natalie/Latex.astro'

export const details: BlogDetails = {
    title: 'asdf2',
    date: '2024-jan-05',
    author: 'natalie',
}
---

<p>There are two kinds of posts: `.astro` and `.mdx`.</p>
<p>
    Astro is a framework designed to not ship JS to the client (unless specifically told
    to do so).
</p>
<p>Astro sites are made up of Components.</p>
<ul>
    Each .astro exports exactly one component.
    <li>
        A component can be any amount or combination of html, css (style tag), and js
        (script tag) elements.
    </li>
    <li>
        Components can stack on each other recursively. When you want a Component to
        render its children, you use a slot.
    </li>
    <li>
        To this end, in the layouts/ folder, you define what your layout is going to be.
    </li>
    <li>
        There is no functional difference between then layouts/ folder and the components/
        folder.
    </li>
    <li>
        Each .astro file starts with two sets of triple dashes (---). Everything between
        those dashes is Javascript that you can use to create the template
    </li>
</ul>

<p>Mdx files are just like markdown files, but they also have some super powers.</p>
<ul>
    <li>They can import components</li>
</ul>

Astro files require an object to be declared at the top, the minimum being this:

<code>
    --- import type &gt BlogDetails &gt from '@/types' export const details: BlogDetails =
    &gt title: "asdf2", date: "2024-jan-03", author: "nathan" &gt ---
</code>

Mdx files require the same thing, but formatted a bit differently
<code> --- title: fdsa date: 04-Jan-2024 author: nathan ---</code>

Other than that, it's totally fair game to do whatever math, 3rd party api requests, or
whatever else. Because this happens at build time and not per request, any computation is
basically free.

<ul>
    3 Rules
    <li>All Astro</li>
</ul>

Advanced: You can make a page dynamic by setting <code
    >export const prerender = false;</code
> in the top of the file.

<Latex formula="E=mc^2" />
