---
import type { BlogDetails } from '@/types'

export const details: BlogDetails = {
    title: 'Images-in-the-terminal',
    date: '2024-jan-07',
    author: 'natalie',
    // overrideHref: '',
    // overrideLayout: true,
    // hidden: true,
}
---
<body>
<h1> Images in the terminal <h1>

<div > If you have looked around any ricing/unixporn esque forums you will likely have encountered someone's fetch or other utility that is showing their favrouite anime girl. </div>
<div > As great of a technology as this is, it remains fundamentally a hack, this isn't a negative in in of itself however it makes portability, and the maintaining of such projects that incorporate these as </div>
</body>
